
.container
{
	display: flex;		/* makes container a flexbox*/
	flex-flow: row wrap; 	/* layout the boxes in rows and wrap them*/
	box-sizing: border-box;
	margin-right: auto;
	margin-left: auto;
	max-width: 1050px;	
}

.box{
	flex:1; /* */
	display: flex;	/* make the contents controllable by flexbox*/
	flex-flow: column;	/* */
	max-width: 240px; /**/
	margin: 10px;
	padding: 20px;
	background-color: #000;
}


/*************************
Navigation
**************************/


.underline{
  text-decoration: underline;
}
.border{
  border: solid 5px #ccc;
}

.makeRed{
	background-color: red;
}

.makeBorder{
	border: 2px;
}